body {
  margin: 0%;
  padding: 0%;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.container {
  display: grid;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

#header {
  background-color: #333;
  padding: 10px;
  color: #fff;
  text-align: center;
  animation: fade-in 1s ease;
}

#coins {
  font-size: 18px;
}

#xp-bar {
  background-color: #ddd;
  height: 20px;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
}

#xp-progress {
  background-color: #4CAF50;
  height: 100%;
  width: 0;
  animation: xp-progress 2s ease;
}

#xp-bar:hover #xp-progress {
  animation: xp-progress-hover 2s infinite;
}

#level {
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
}

.start-game {
  display: grid;
  align-items: center;
  justify-items: center;
  position: relative;
  top: 200px;
  text-align: center;
  margin-top: 20px;
}

#btn-start-game,
#btn-training,
#btn-campaign {
  width: 300px;
  padding: 14px 16px;
  margin: 7px;
  position: relative;
  bottom: 30px;
  right: 10px;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

#btn-start-game {
  background-color: #F44336;
}

#btn-training {
  background-color: #4CAF50;
}

#btn-campaign {
  background-color: #2196F3;
}

#btn-start-game:hover,
#btn-training:hover,
#btn-campaign:hover {
  transform: translateY(-2px);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}
.profile-user {
  display: grid;
  align-items: end;
  justify-items: end;
  position: relative;
  top: -30px;
}

.progress {
  position: relative;
  bottom: 150%;
}

@keyframes fade-in {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes xp-progress {
  from {
      width: 0;
  }
  to {
      width: 100%;
  }
}

@keyframes xp-progress-hover {
  0% {
      width: 0;
  }
  50% {
      width: 100%;
  }
  100% {
      width: 0;
  }
}