body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.profile-user {
  position: relative;
  left: 93%;
  cursor: pointer;
}

.config{
  position: absolute;
  left: 73px;
  cursor: pointer;
}

.container {
  position: relative;
  max-width: 800px;
  margin: auto;
  padding-top: 65px;
}

#xp-bar, #level, 
#header {
  position: relative;
  top: -135px;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#coins {
  font-weight: bold;
}

#xp-bar {
  width: 100%;
  height: 20px;
  background-color: #ccc;
}

#xp-progress {
  height: 100%;
  background-color: #4caf50;
}

#level {
  font-weight: bold;
}

.start-game {
  position: relative;
  top: 58px;
  display: flex;
  justify-content: center;
}

#btn-start-game {
  position: relative;
  top: 270px;
  left: 250px;
  height: 90px;
  width: 250px;
  font-size: 70px;
  font-family: 'MinecraftRegular', sans-serif;
  border: none;
  background-color: #09ce34;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}

#btn-start-game::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
  border: 4px solid #a98260;
  border-radius: 4px;
}

#btn-training {
  position: relative;
  top: 290px;
  left: -250px;
  z-index: -1;
  height: 70px;
  width: 250px;
  font-size: 25px;
  font-family: 'MinecraftRegular', sans-serif;
  border: none;
  background-color: red;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  margin-left: 20px;
}

#btn-training::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
  border: 4px solid #2409c2;
}

#btn-campaign {
  position: relative;
  top: 290px;
  left: -50px;
  z-index: -1;
  height: 70px;
  width: 250px;
  font-size: 25px;
  font-family: 'MinecraftRegular', sans-serif;
  border: none;
  background-color: #8b5a2b;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  margin-left: 20px;
}

#btn-campaign::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
  border: 4px solid #a98260;
  border-radius: 4px;
}
