body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

#container {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

#coins {
  font-weight: bold;
}

#xp-bar {
  width: 100%;
  height: 20px;
  background-color: #ccc;
  margin-bottom: 10px;
}

#xp-progress {
  height: 100%;
  background-color: #4caf50;
}

#level {
  font-weight: bold;
  margin-bottom: 20px;
}

#btn-start-game {
  height: 90px;
  width: 250px;
  position: relative;
  top: 65vh;
  left: 35%;
  font-size: 70px;
  font-family: 'MinecraftRegular', sans-serif;
  border: none;
  background-color: #09ce34;
  color: #FFF;
  text-transform: uppercase;
  cursor: pointer;
}

#btn-start-game::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
  border: 4px solid #A98260;
  border-radius: 4px;
}

#btn-training {
  height: 70px;
  width: 250px;
  position: relative;
  top: 63vh;
  left: 33%;
  z-index: -1;
  background-color: red;
  color: white;
  font-size: 25px;
  font-family: 'MinecraftRegular', sans-serif;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

#btn-training::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
  border: 4px solid #2409c2;
}

#btn-campaign {
  height: 70px;
  width: 250px;
  position: relative;
  top: 63vh;
  left: -60%;
  z-index: -1;
  background-color: #8B5A2B;
  color: white;
  font-size: 25px;
  font-family: 'MinecraftRegular', sans-serif;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

#btn-campaign::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
  border: 4px solid #A98260;
  border-radius: 4px;
}



